:root {
    --color-primary: #141420;
    --color-secondary: #1E1E30;
    --color-accent: #C850FA;
    --color-text: #F0F0FF;
    --color-button: #4c2cad;
    --font-titulo: 'Rajdhani', sans-serif;
    --font-cuerpo: 'Inter', sans-serif;
    --color-secondary: #1e1e30;
    --color-accent: #c850fa;
    --color-text: #f0f0ff;
    --font-titulo: "Rajdhani", sans-serif;
    --font-cuerpo: "Inter", sans-serif;
    --space-xs: 4px;
    --space-s: 8px;
    --space-m: 16px;
    --space-l: 24px;
    --space-xl: 32px;
    --space-xxl: 48px;
}

body {
    font-family: var(--font-cuerpo);
    background-color: var(--color-primary);
    color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-titulo);
}

p {
    font-family: var(--font-cuerpo);
}

form {font-family: var(--font-cuerpo);}

.titulo_pedidos {
text-align: center;
margin-top: var(--space-l);
font-family: var(--font-titulo);
} 


.form_pedidos {
    text-align: center;
}

.form_pedidos label {
    display: block;
    margin-bottom: var(--space-xs);
}

.button_pedidos {
    color: var(--color-text);
    padding: var(--space-s)var(--space-s);
    cursor: pointer;
    margin-top: var(--space-s);
    background-color: var(--color-button);
    display: inline-block;  
    border: 2px solid black;
    border-radius: 4px;
    border-color: black;
    font-size: 14px;
    font-family: var(--font-cuerpo);
    margin-top: var(--space-s);
}